Values are: one - 1<br />
Values should be even: one - 1<br />
Values should always be: one - 1<br />
Values are: two - 2<br />
Values should be even: two - 2<br />
Values should always be: two - 2<br />
Values are: three - 3<br />
Values should be even: three - 3<br />
Values should always be: three - 3<br />

Values are: 0 - one<br />
Values should be even: 0 - one<br />
Values should always be: 0 - one<br />
Values are: 1 - two<br />
Values should be even: 1 - two<br />
Values should always be: 1 - two<br />
Values are: 2 - three<br />
Values should be even: 2 - three<br />
Values should always be: 2 - three<br />