0 = a
1 = b
2 = c
3 = d
4 = e

0 = a
1 = b
2 = c
3 = d
4 = e



John Smith is 34 years old.
Samantha Walker is 67 years old.
Josh Hawkins is 12 years old.

John Smith is 34 years old.
Samantha Walker is 67 years old.
Josh Hawkins is 12 years old.



#0   jumpbugger: Jacob Harley
#1   neatoooo: Kate Worden
#2   hamster: Nate Francis

#0   jumpbugger: Jacob Harley
#1   neatoooo: Kate Worden
#2   hamster: Nate Francis



username: jumpbugger
name: Jacob Harley

username: neatoooo
name: Kate Worden

username: hamster
name: Nate Francis

username: jumpbugger
name: Jacob Harley

username: neatoooo
name: Kate Worden

username: hamster
name: Nate Francis