<li>
  <a href="/uid/21591"><img class="avatar avatar-sm" alt="Noah R" title="Noah R" data-uid="21591" loading="lazy" component="avatar/picture" src="https://lh5.googleusercontent.com/-UUo7LvH6tsM/AAAAAAAAAAI/AAAAAAAAAAA/AMZuucmJGE-or0l_ziNT1zwYpuZcb5rVEA/s96-c/photo.jpg" style="" />Noah R</a>
</li>
<li>
  <a href="/uid/21590"><span class="avatar avatar-sm" alt="oriettapolo" title="oriettapolo" data-uid="21590" loading="lazy" component="avatar/icon" style="background-color: #795548;">O</span>oriettapolo</a>
</li>