<li>
  <span class="label label-primary">name</span>
   &rarr; <span class="label label-default">Test</span>
</li>
<li>
  <span class="label label-primary">slug</span>
   &rarr; <span class="label label-default">test</span>
</li>
<li>
  <span class="label label-primary">description</span>
   &rarr; <span class="label label-default">testing</span>
</li>
<li>
  <span class="label label-primary">author</span>
   &rarr; <span class="label label-default">1</span>
</li>
<li>
  <span class="label label-primary">private</span>

</li>
<li>
  <span class="label label-primary">clients</span>
</li>
<li>
  <span class="label label-primary">loggedIn</span>
   &rarr; <span class="label label-default">true</span>
</li>